@tailwind base;
@tailwind components;
@tailwind utilities;

td,
th {
  @apply py-2 px-4 border-b border-gray-300;
}

td {
  /* @apply px-10 py-2 */
}

tr,
td {
  @apply min-w-[200px];
}

th {
  @apply bg-gray-100 font-medium text-xs text-[#6B7280] tracking-wider;
}

table {
  @apply max-w-[1px];
}

.dropdown li {
  @apply hover:bg-[#0000001A] min-w-[200px] max-w-[200px] h-[44px] opacity-100 rounded-lg pt-3 pr-2 pb-3 pl-4 gap-3 bg-white;
}

summary {
  @apply mb-5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
